@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

html {
    font-family: "Inter", sans-serif;
    background-color: var(--bg-color);
}

:root {
    --bg-color: #ffffff;
    --bg-2-color: #d1d1d1;
    --text-color: #000000;
    --text-2-color: #252525;
    --text-3-color: #3b3b3b;
    --borders-color: #cfcfcf;
    --primary-color: #6b3ac7;
}

.inverted {
    filter: invert(0);
}

::-webkit-scrollbar {
    background-color: var(--bg-color);
    height: 2px;
    width: 2px;
}

::-webkit-scrollbar:hover {
    width: 6px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--text-3-color);
}

::selection{
	background-color: var(--primary-color);
    color: var(--bg-2-color);
}

.active-section {
    color: var(--text-color);
}

.doc-wrapper>div>h3>code {
    font-weight: bold;
    font-size: 24px;
    color: var(--text-color);
    overflow: scroll;
}

.doc-wrapper>div>h3 {
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: solid 1px var(--borders-color);
}

.doc-wrapper>div>h1 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
    color: var(--text-color);
}

.doc-wrapper>div>p {
    margin-bottom: 20px;
    color: var(--text-2-color);
}

.doc-wrapper>div>pre {
    background-color: var(--bg-2-color);
    color: var(--text-color);
    border-radius: 8px;
    margin-bottom: 20px;
    border: 1px solid var(--borders-color);
    overflow: hidden;
}

.doc-wrapper>div>p>a {
    color: var(--primary-color);
}

.doc-wrapper>div>blockquote {
    color: var(--text-2-color);
    margin-bottom: 20px;
}

.doc-wrapper>div>blockquote>p>strong {
    color: var(--primary-color);
}

.active-topic {
    color: var(--primary-color);
}

.top-bg {
    position: fixed;
    background: linear-gradient(to bottom, var(--bg-color) 54%, #00000000 100%);
    top: 0px;
    width: 100%;
    height: 73px;
    z-index: 10;
}